* {
  box-sizing: border-box;
}

.primaryButton {
  cursor: pointer;
  border: none;
  background-color: rgb(236, 191, 133);
  padding: 10px;
  border-radius: 5px;
}

.primaryButton:hover {
  background-color: rgb(235, 197, 148);
}